<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <div class="page-header">
      <h1>Twitter Responses</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default all-tweets">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              All Tweets
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <% @tweets.each_with_index do |tweet, index| %>
            <div class="row tweet_<%= index %>">
              <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p>
                      <strong>Posted by</strong>
                      <%= link_to "@#{tweet.screen_name}", tweet.user_profile_link %>
                      <strong><%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet.url  %></strong>
                    </p>
                    <p><%= tweet.text %></p>
                    <dl class="dl-horizontal">
                      <dt>Number of Followers:</dt>
                      <dd><%= tweet.followers_count %></dd>
                      <dt>Number of Retweets:</dt>
                      <dd><%= tweet.retweet_count %></dd>
                      <dt>Number of Favorites:</dt>
                      <dd><%= tweet.favorite_count %></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default tweets-grouped-by-user">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Tweets grouped by User
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <% @tweets_grouped_by_user.each_with_index do |group, index| %>
            <div class="row user_<%= index %>">
              <h4 class="text-center"><%= "@#{group[:user]} has #{group[:tweets].count} tweets mentioning @locaweb" %></h4>
              <div class="col-md-offset-1 col-md-10">
                <% group[:tweets].each_with_index do |tweet, index| %>
                <div class="row tweet_<%= index %>">
                  <div class="col-md-offset-1 col-md-10">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p>
                          <strong>Posted by</strong>
                          <%= link_to "@#{tweet.screen_name}", tweet.user_profile_link %>
                          <strong><%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet.url  %></strong>
                        </p>
                        <p><%= tweet.text %></p>
                        <dl class="dl-horizontal">
                          <dt>Number of Followers:</dt>
                          <dd><%= tweet.followers_count %></dd>
                          <dt>Number of Retweets:</dt>
                          <dd><%= tweet.retweet_count %></dd>
                          <dt>Number of Favorites:</dt>
                          <dd><%= tweet.favorite_count %></dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
